---
import Navigation from '../components/Navigation.astro';
const pageTitle = 'about me'
const firstname = 'joel'
const skills = ['guitar', 'mountain bikes']
---

<title>{pageTitle}</title>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation/>
		<h1>{pageTitle}</h1>
		<h1>this is my about page!</h1>
	</body>
	<p1> my name is {firstname}. My skills are {skills} </p1>
</html>
